:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* header */
#header {
  background-color: #242c2c;
}

#logo-text {
  color: #fff;

  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;

  padding: 2.3rem;

  display: inline-block;
  background-color: #63c6ae;
}

#header__btm-menu {
}

#header__nav ul {
  display: flex;
  flex-direction: column;
}
#header__nav ul li {
  list-style: none;
  text-transform: uppercase;
  background-color: #242c2c;
  border-bottom: 1px solid #fff;
  font-weight: 300;
}

#header__nav ul li a {
  color: #fff;
  display: block;
  text-align: center;

  padding: 2rem;
  font-size: 1.4rem;

  transition: 0.5s ease;
}

#header__nav ul li a:hover {
  color: #63c6ae;
  opacity: 0.7;
  cursor: pointer;
}

.header__nav-li {
}

/* hero section */

#hero-section {
  height: 80vh;

  background-image: url("../img/01.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero__title {
  background-color: #63c6ae;
  color: #fff;

  text-transform: uppercase;

  padding: 2rem;

  font-size: 2.3rem;
}

#hero__text {
  background-color: #242c2c;
  color: #fff;

  padding: 1.6rem;
  
  font-size: 1.6rem;
}
#hero__btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba (0, 0, 0, 0.2);
  margin-top: 1rem;
  padding: 2rem;

  color: #fff;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
}

#user-card__article{
 margin-top: 2rem;
}

#usar-card__img{
  width: 100%;
}

#user-card__avatar{
  margin: -55px auto;
  height: 88px;
  width: 88px;
  overflow: hidden;
}

#user-card__content{
 font-size: 2rem;
 padding: 6rem 2rem 1rem;
 text-align: center;
}