:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  display: flex;
  flex-wrap: wrap;
}

/* header */
#header {
  background-color: #242c2c;
}

#logo-text {
  color: #fff;

  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;

  padding: 2.3rem;

  display: inline-block;
  background-color: #63c6ae;
}

#header__btm-menu {
}

#header__nav ul {
  display: flex;
  flex-direction: column;
}

#header__nav ul li {
  list-style: none;
  text-transform: uppercase;
  background-color: #242c2c;
  border-bottom: 1px solid #fff;
  font-weight: 300;
}

#header__nav ul li a {
  color: #fff;
  display: block;
  text-align: center;

  padding: 2rem;
  font-size: 1.4rem;

  transition: 0.5s ease;
}

#header__nav ul li a:hover {
  color: #63c6ae;
  opacity: 0.7;
  cursor: pointer;
}

.header__nav-li {
}
/* header */

/* hero section */
#hero-section {
  height: 80vh;

  background-image: url("../img/01.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero__title {
  background-color: #63c6ae;
  color: #fff;

  text-transform: uppercase;

  padding: 2rem;

  font-size: 2rem;
}

#hero__text {
  background-color: #242c2c;
  color: #fff;

  padding: 1.6rem;

  font-size: 1.4rem;
}

#hero__btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  padding: 2rem;

  color: #fff;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
}
/* hero section */

/*user-card-section*/
#user-card-section {
  margin-top: 1rem;
}
.user-card__article {
  display: flex;
  flex-direction: column;
}

.user-card__article:hover {
  outline: 5px solid #63c6ae;
  outline-offset: -5px;
}

.user-card__article:hover .user-card__avatar {
}

.user-card__article:hover .user-card__content h2 {
  color: #63c6ae;
}

.user-card__article:hover .user-card__content p {
  color: #63c6ae;
}

.usar-card__img {
  width: 100%;
}

.user-card__avatar {
  align-self: center;

  height: 88px;
  width: 88px;

  position: relative;

  top: -55px;

  overflow: hidden;
}

.user-card__content {
  position: relative;
  padding: 2rem;

  top: -70px;

  font-size: 2rem;
  text-align: center;

  border-left: 1px solid #dbe1e7;
}

.user-card__content h2 {
  color: #737c85;
}

.user-card__content p {
  color: #929da5;
}
/*user-card-section*/

/*contend-section*/
#contend {
}

.contend__anticle {
  margin: 2rem 0;
}

.contend__anticle h3 {
  color: #737c85;
  font-size: 2rem;
  margin-bottom: 1rem;

  font-weight: 400;
}

.contend__anticle p {
  font-size: 1.7rem;
  color: #929da5;

  word-spacing: 3px;
}

.button {
  color: #fff;

  font-size: 2rem;
  width: 50%;
  height: 50px;
  border-radius: 2px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: background 0.5s;
}
.button:hover {
  background-color: #929da5;
}

.btn-primary {
  background-color: #63c6ae;
}

.btn-secundary {
  background-color: #242c2c;
}

.btn-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
/*contend-section*/

/*lates-section*/
#latest-section {
}

.latest-section__title {
  background-color: #63c6ae;
  padding: 1rem;
}

.latest-section__title h2 {
  color: #fff;
  font-size: 3rem;

  text-transform: uppercase;
  font-weight: 400;
}

.container-img {
}

#latest-section-contend {
}
/*lates-section*/

@media screen and (min-width: 1024px) {
  #user-card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .button {
    width: 150px;
  }
}
