:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* header */
#header {
  width: 100%;
  background-color: #242c2c;
  position: fixed;
  display: flex;
  flex-direction: column;
}

#logo-text {
  color: #fff;
  width: 180px;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;

  padding: 2.5rem;

  display: inline-block;
  background-color: #63c6ae;
}

#header__btm-menu {
  position: relative;
  align-self: flex-end;
  width: 100px;
  bottom: 50px;
  right: 1rem;
}

#header__nav ul {
  display: flex;
  flex-direction: column;
}

#header__nav ul li {
  list-style: none;
  text-transform: uppercase;
  background-color: #242c2c;
  border-bottom: 1px dotted #fff;
  font-weight: 300;
}

#header__nav ul li a {
  color: #fff;
  display: block;
  text-align: center;

  padding: 2rem;
  font-size: 1.8rem;

  transition: 0.5s ease;
}

#header__nav ul li a:hover {
  color: #63c6ae;
  opacity: 0.7;
  cursor: pointer;
}

.header__nav-li {
}
/* header */

/* hero section */
#hero-section {
  height: 80vh;

  background-image: url("../img/01.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero__title {
  background-color: #63c6ae;
  color: #fff;

  text-transform: uppercase;

  padding: 2rem;

  font-size: 2rem;
}

#hero__text {
  background-color: #242c2c;
  color: #fff;

  padding: 1.6rem;

  font-size: 1.4rem;
}

#hero__btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  padding: 2rem;

  color: #fff;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
}
/* hero section */

/*user-card-section*/
#user-card-section {
  margin-top: 1rem;
}

.user-card__article {
  display: flex;
  flex-direction: column;
}

.user-card__article:hover {
  outline: 5px solid #63c6ae;
  outline-offset: -5px;
}

.user-card__article:hover .user-card__content h2 {
  color: #63c6ae;
}

.user-card__article:hover .user-card__content p {
  color: #63c6ae;
}

.usar-card__img {
  width: 100%;
}

.user-card__avatar {
  align-self: center;

  height: 88px;
  width: 88px;

  position: relative;

  top: -55px;

  overflow: hidden;
}

.user-card__content {
  position: relative;
  padding: 2rem;

  top: -70px;

  font-size: 2rem;
  text-align: center;

  border-left: 1px solid #dbe1e7;
}

.user-card__content h2 {
  color: #737c85;
}

.user-card__content p {
  color: #929da5;
}
/*user-card-section*/

/*contend-section*/
#contend {
}

.contend__anticle {
  margin: 2rem 0;
}

.contend__anticle h3 {
  color: #737c85;
  font-size: 2.2rem;
  margin-bottom: 1rem;

  font-weight: 400;
}

.contend__anticle p {
  font-size: 1.9rem;
  color: #929da5;

  word-spacing: 3px;
}

.button {
  color: #fff;

  font-size: 2rem;
  border-radius: 2px;
  padding: 1rem 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: background 0.5s;
}

.button:hover {
  background-color: #929da5;
}

.btn-primary {
  background-color: #63c6ae;
}

.btn-secundary {
  background-color: #242c2c;
}

.btn-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
/*contend-section*/

/*lates-section*/
#latest-section {
}

.latest-section__title {
  background-color: #63c6ae;
  padding: 5px 0;
}

.latest-section__title h2 {
  color: #fff;
  font-size: 3rem;

  text-transform: uppercase;
  font-weight: 400;
}

.latest-section__thumbs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 1px;
  /* 
  auto-fill Cria 
  automaticamente  minmax um total de colunas que acomode itens com no mínimo 250px de 
  largura.
  */
}

.latest-section__thumbs img {
  display: block;
  width: 100%;
}
/*lates-section*/

/*slide-show*/
#laptop-slider {
  background-color: #242c2c;
  padding: 12.5rem 0 10rem;
  overflow: auto;
}
.container-img__laptop-slider {
  white-space: nowrap;
}

.container-img__laptop-slider figure {
  display: inline-block;
  margin: 0 2rem;
}
/*slide-show*/

/*latest-section-contend*/
#latest-section-contend {
  background-color: #63c6ae;
  padding: 5rem 0px;
  border-bottom: 1.1rem solid #48b9a1;
}

.quote-sledeshow {
}

.quote-sledeshow h2 {
  color: #fff;
  font-size: 3rem;
  font-style: italic;
  font-weight: normal;
}

.quote-sledeshow figcaption {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
}

.no-js .quote-sledeshow figure:nth-child(2) {
  margin-top: 4rem;
}
/*latest-section-contend*/

/*footer*/
#footer {
  background-color: #242c2c;
  color: #454e51;
  padding: 9rem 0px;
}

#footer h2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

#footer p {
  font-size: 2rem;
}

#footer ul {
  width: 200px;
}

#footer ul li a {
  color: #454e51;
  font-size: 2rem;
  display: block;
  margin: 2rem 0;
}

/*footer*/

@media screen and (min-width: 1124px) {
  #header {
    opacity: 0.6;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  #header__btm-menu {
    display: none;
  }

  #header__nav ul {
    flex-direction: row;
  }

  #header__nav ul li {
    background-color: #fff;
    border: none;
  }

  #header__nav ul li a {
    color: #242c2c;
    font-weight: normal;
  }

  #user-card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  #contend .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .latest-section__thumbs {
    grid-template-columns: repeat(6, 1fr);
  }
  #footer {
    justify-content: center;
    align-items: center;
  }

  #footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
  }
  #footer .container ul {
    margin-left: 1rem;
  }
  #footer .container ul li a {
    text-decoration: underline;
    margin: 0px;
  }
}
